{% extends 'bases/base.html' %}

{% block content %}
            <!-- bradcam_area_start -->
            <div class="bradcam_area breadcam_bg overlay2">
                <h3>Our Levels</h3>
                
            </div>
            <!-- bradcam_area_end -->
    
        <!-- popular_courses_start -->
        <section class="fdb-block">
            <div class="container">
              <div class="row text-left mt-5">
                  {% for item in levels %}
                <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto mr-md-auto ml-md-0">
                  <!-- Card -->
                    <div class="card">
    
                            <!-- Card image -->
                            <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap">
                        
                            <!-- Card content -->
                            <div class="card-body">
                        
                            <!-- Title -->
                            <h4 class="card-title"><a href="">{{ item.nom }}</a></h4>
                            <!-- Text -->
                            <p class="card-text">{{ item.description|safe }}</p>
                            <!-- Button -->
                            <a href="{% url 'quizapp:quiz' item.id %}" class="btn btn-primary">Commencer</a>
                        
                            </div>
                        
                        </div>
                        <!-- Card -->
                </div>
                {% endfor %}
              </div>
            </div>
        </section>
        </div>
        <!-- popular_courses_end-->
{% endblock content %}
    