{% extends 'bases/base.html' %}

{% block content %}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Inscription</h3>
</div>
<!-- bradcam_area_end -->
<div class="text-center">
<form style="margin-top: 50px ; margin-bottom: 50px ;"  class="">
    <div class="popup_box ">
        <div >
            <div class="logo text-center">
                <a href="#">
                    <img src="/static/img/form-logo.png" alt="">
                </a>
                    
            </div>
            <div>
                {% if message != '' %}
                <p style="color: #fff;">{{ message }}</p>
                 {% endif %}
            </div>
            <h3>Resistration</h3>
            <formn method="POST" action="{% url 'quizapp:suscribe' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <input name='username' type="username" placeholder="Enter your username">
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <input name='email' type="email" placeholder="Enter email">
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <input name='password' type="password" placeholder="Password">
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <input type="repass" placeholder="Confirm password">
                    </div>
                    <div class="col-xl-12">
                        <button type="submit" class="boxed_btn_orange">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</form>
</div>
</div>
    
{% endblock content %}
    