{% extends 'bases/base_profile.html' %}

{% block content %}
    		<!-- bradcam_area_start -->
		<div class="bradcam_area breadcam_bg overlay2">
            <h3>Quiz Plateforme</h3>
            
                {% if user.is_authenticated %}
                    <p>Welcome, {{ user.get_username }}. </p>
                {% endif %}
           
        </div>
        <!-- bradcam_area_end -->
        <div id="myapp">
            <div class="container"><br><br>
                <div class="row">
                    
                    <div class="col-md-8">
                        <h2>Composition</h2><br><br>
                        <h3>Sujets</h3><br><br>
                        {{ point_total }}
                        <p> total questions = {{ totalquest }}</p>
                        <div v-if="! isstart" >
                            <p> Commencer le quiz en selectionnannt !</p>
                            
                        </div>
                        <div v-if="isstart" >
                                                 
                            <p> Reponse ${ reponse }</p>
                            <p>Note final = ${note_final} </p>
                            <p>Taux = ${ taux } </p>
                              <p> notes =  ${ notes }</p>
                            <div >
                                ${ question.description }  
                            </div>
                          
                        </div>
                                <h3>Propositions</h3> 
                                <br>
                                <div v-if="! isstart" >
                                    <h5> Oh les propositions ! :-)</5>
                                    
                                </div>
                                <div v-if="isstart">
                                
                                    <div class="form-check">
                                      <input v-on:click='mesreponse(correction.id)' class="form-check-input" v-bind:value=" proposition.propsition1" type="radio" name="reponse" id="prop1" v-model="reponse" >
                                      <label class="form-check-label" for="prop1">
                                        ${ proposition.propsition1 }
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input v-on:click='mesreponse(correction.id)' class="form-check-input" v-bind:value="proposition.propsition2" type="radio" name="reponse" id="prop2" v-model="reponse" >
                                      <label class="form-check-label" for="prop2">
                                        ${ proposition.propsition2 }
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input v-on:click='mesreponse(correction.id)' class="form-check-input" v-bind:value="proposition.propsition3 " type="radio" name="reponse" id="prop3" v-model="reponse" >
                                      <label class="form-check-label" for="prop3">
                                        ${ proposition.propsition3 } 
                                      </label>
                                    </div>
                                    <div  class="form-check">
                                      <input v-on:click='mesreponse(correction.id)' class="form-check-input"v-bind:value="proposition.propsition5" type="radio" name="reponse" id="prop4" v-model="reponse" >
                                      <label class="form-check-label" for="prop4">
                                        ${ proposition.propsition5 }
                                      </label>
                                    </div>
                                  
                                </div>
                                <br><br><br>
                               <!--  <p>reponse 1</p>
                                <p>reponse 2</p>
                                <p>reponse 3</p>
                                <p>reponse 4</p> -->
                       
                        <br> 
                        
                            
            
                    </div>
                    <div class="col-md-4">
                        <h3>Questions</h3><br>
                        <div class="row">
                            
                            {% for item in quiz  %}
                            <div id="{{ item.id }}" class="col-md-4" style="margin-bottom: 20px;">
                                    <button  v-on:click="loadquestion({{ item.id }})" type="button" class="btn btn-outline-info">{{ forloop.counter  }}</button>
                            </div>
                                
                            {% endfor %}
                        
                        </div>
                        <div class="row">
                            <div style="text-align: center;">
                                    <a href="#" v-on:click="sendata" class="btn btn-primary">Terminer</a>
                            </div> 
                        </div>  
                            
                            
                    </div>
                        
                        
            
                </div>
                
            
            </div>
        </div>
        <script src="/static/vue.js"></script> 
        <script src="/static/axios.js"></script> 
       <!--  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
            <script>
                mavue=  new Vue({
                            el: '#myapp',
                            mounted() {
                               this.noteinitialise({{ totalquest }})
                                
                            },
                            data: {
        
                                isregister: false,
                                isstart : false,
 
                                reponse : '',
                                result: '',
                                essai : "tout passe bien",
                                proposition: '',
                                question: '',
                                correction : '',
                                notes : [],
                                note_final : 0,
                                taux : 0,
                
                            },

                            delimiters: ["${", "}"],
                            methods: {
                                loadquestion: function (id) {
                                   
                                    axios.defaults.xsrfCookieName = 'csrftoken'
                                    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                                    axios.post('http://127.0.0.1:8000/graphql/', {
                                      query: `
                                        query {
                                          propostion(id:${id}){
                                            propsition1
                                            propsition2
                                            propsition3
                                            propsition5
                                          },
                                       
                                          question(id:${id}){
                                            description
                                            contenu
                                          },
                                            reponse(id: ${id}) {
                                                id
                                                reponse
                                                score
                                                description
                                            }

                                        }
                                          `
                                        }).then(response => {
                                            console.log(response.data.data)
                                            this.isstart = true
                                            this.result= response.data.data
                                            this.proposition = response.data.data.propostion
                                            this.question = response.data.data.question
                                            this.correction = response.data.data.reponse
                
                                            
                                        })
                                        .catch((err) => {
                                            console.log('erreur')
                                                    
                                        })
                                        

                                },
                                mesreponse : function(id){
                                    var i = id-1
                                    
                                    if (this.reponse == this.correction.reponse ){

                                        this.notes[i] = this.correction.score
                                    }else{

                                        this.notes[i] = 0
                                    }

                                },
                                noteinitialise: function(taille){
                                    var i = 0
                                    while( i < taille)
                                    {
                                        this.notes[i] = 0;
                                        
                                        i = i + 1;
                                    }
                                },
                                calcul : function(taille) {
                                    var i = 0
                                    while( i < taille)
                                    {
                                        this.note_final += this.notes[i];
                                        i = i + 1;
                                    }

                                    this.taux = ( this.note_final / {{ point_total }} ) *100  

                                },
                                sendata : function () {
                                    this.calcul({{ totalquest }})
                                    axios.defaults.xsrfCookieName = 'csrftoken'
                                    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                                    axios.post('http://127.0.0.1:8000/quiz/sender/', {
                                    point : this.note_final,
                                    taux : this.taux
                                        }).then(response => {
                                            console.log(response)
                                            this.taux = 0
                                            this.note_final = 0
                                            window.location.replace("quizapp:resultat");
                                        })
                                        .catch((err) => {
                                            console.log('erreur')
                                                    
                                        })
                                } 
                                



                            }
                        })
                  </script>
            
{% endblock content %}
    