{% extends 'bases/base.html' %}

{% block content %}
    		<!-- bradcam_area_start -->
		<div class="bradcam_area breadcam_bg overlay2">
            <h3>Quiz Plateforme</h3>
            
                {% if user.is_authenticated %}
                    <p>Welcome, {{ user.get_username }}. </p>
                {% endif %}
           
        </div>
        <!-- bradcam_area_end -->

<!-- Start Sample Area -->
<section class="sample-text-area">
    <div class="container box_1170">
        <!-- autre modele avec image -->
        <!-- <div class="section-top-border">
            <h3 class="mb-30">Left Aligned</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="img/elements/d.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <p>Recently, the US Federal government banned online casinos from operating in America by making
                        it illegal to
                        transfer money to them through any US bank or payment system. As a result of this law, most
                        of the popular
                        online casino networks such as Party Gaming and PlayTech left the United States. Overnight,
                        online casino
                        players found themselves being chased by the Federal government. But, after a fortnight, the
                        online casino
                        industry came up with a solution and new online casinos started taking root. These began to
                        operate under a
                        different business umbrella, and by doing that, rendered the transfer of money to and from
                        them legal. A major
                        part of this was enlisting electronic banking systems that would accept this new
                        clarification and start doing
                        business with me. Listed in this article are the electronic banking systems that accept
                        players from the United
                        States that wish to play in online casinos.</p>
                </div>
            </div>
        </div> -->

        <!-- autre modele sans image -->
        <h3 class="text-heading">Question</h3>
        <p class="sample-text">
        {% if question|length > 0 %}
            {% for item  in question %}
            <p>{{ item.contenu|safe }}</p>
            {% endfor %}
        {% endif %}  
        </p>
    </div>
    <div class="container box_1170">
        <div class="single-element-widget mt-30">
            <h3 class="mb-30">Reponses</h3>
            <!-- <div class="switch-wrap d-flex justify-content-between">
                <p>01. Sample Checkbox</p>
                <div class="primary-checkbox">
                    <input type="checkbox" id="default-checkbox">
                    <label for="default-checkbox"></label>
                </div>
            </div>
            
            <div class="switch-wrap d-flex justify-content-between">
                <p>02. Primary Color Checkbox</p>
                <div class="primary-checkbox">
                    <input type="checkbox" id="primary-checkbox">
                    <label for="primary-checkbox"></label>
                </div>
            </div>

            <div class="switch-wrap d-flex justify-content-between">
                <p>03. Primary Color Checkbox</p>
                <div class="primary-checkbox">
                    <input type="checkbox" id="secondary-checkbox">
                    <label for="secondary-checkbox"></label>
                </div>
            </div> -->
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
                <label class="form-check-label" for="exampleRadios1">
                  Reponse 1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Reponse 2                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                <label class="form-check-label" for="exampleRadios3">
                    Reponse 3
                </label>
              </div>
            
        </div>
    </div>

    <!-- autre modele de reponse avec radio -->
    <!-- <div class="container box_1170">
        <div class="single-element-widget mt-30">
            <h3 class="mb-30">Autres type de Reponses</h3>
            <div class="switch-wrap d-flex justify-content-between">
                <p>01. Sample radio</p>
                <div class="primary-radio">
                    <input type="radio" name="azerty" id="default-radio">
                    <label for="default-radio"></label>
                </div>
            </div>

            <div class="switch-wrap d-flex justify-content-between">
                <p>02. Primary Color radio</p>
                <div class="primary-radio">
                    <input type="radio" name="azerty" id="secondary-radio">
                    <label for="secondary-radio"></label>
                </div>
            </div>

            <div class="switch-wrap d-flex justify-content-between">
                <p>03. Confirm Color radio</p>
                <div class="primary-radio">
                    <input type="radio" name="azerty" id="primary-radio" >
                    <label for="primary-radio"></label>
                </div>
            </div>
            
            
        </div>
    </div> -->
</section>
<!-- End Sample Area -->

<!-- Start Button -->
<section class="button-area">
    <div class="container box_1170 border-top-generic">
        <h3 class="text-heading">Sample Buttons</h3>
        <div class="button-group-area mt-40">
            {% if question.has_previous %}
                <a href="?page=1"></a>
                <a href="?page={{ question.previous_page_number }}" class="genric-btn default circle">Precedent</a>
            {% endif %}
            {% if question.has_next %}
            <a href="?page={{ question.next_page_number }}" class="genric-btn primary circle">Suivant</a>
           {% endif %}
            <a href="#" class="genric-btn success circle">Submit</a>
        </div>
    </div>
</section>
<!-- End Button -->
{% endblock content %}
    