{% extends 'bases/base.html' %}

{% block content %}
    		<!-- bradcam_area_start -->
		<div class="bradcam_area breadcam_bg overlay2">
            <h3>Resultat</h3>
        </div>
        <!-- bradcam_area_end -->





<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container box_1170">
        
        

        <div class="section-top-border">
            <h3 class="mb-30">Result</h3>
            <div class="progress-table-wrap">
                <div class="progress-table">
                    <div class="table-head">
                        <div class="serial">Nom</div>
                        <div class="country">Quiz</div>
                        <div class="visit">Points</div>
                        <div class="percentage">Percentages</div>
                    </div>
                    {% for item in resut %}
                    <div class="table-row">
                        <div class="serial">{{ item.user_id.username }}</div>
                        <div class="country">{{ item.quiz_id.titre }}</div>
                        <div class="visit">{{ item.note }} points</div>
                        <div class="percentage">{{ item.taux }} %</div>
                    </div>
                    {% endfor %}
                   
                </div>
            </div>
        </div>
        

        
        
        
        
        
        
    </div>
</div>
{% endblock content %}
    